.gradle
/local.properties
.DS_Store
/build
/captures
output.json

.idea/caches
.idea/codeStyles
.idea/workspace.xml
.idea/libraries
.idea/dictionaries
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/gradle.xml
