<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.timboode.NYP_alert_android">

    <!-- Permission Declarations -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />

    <!-- NYPrepper EAS -->
    <application
        android:name=".App"
        android:supportsRtl="false"
        android:label="@string/appName"
        android:icon="@drawable/ic_launcher">

        <!-- Main Activity -->
        <activity
            android:name=".activities.Main"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- TODO Alert View -->
        <!--<activity
            android:name=".activities.Map"
            android:label=""
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"/>-->

        <!-- Alert Popup -->
        <activity
            android:name=".activities.Popup"
            android:label="@string/appName"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity=".popup"
            android:theme="@style/PopupDialog"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"/>

        <!-- Settings -->
        <activity
            android:name=".activities.settings.General"
            android:label="@string/settings"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"/>

        <!-- Advanced Settings -->
        <activity
            android:name=".activities.settings.Advanced"
            android:label="@string/advancedSettings"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"/>

        <!-- Secondary Alerts Settings -->
        <activity
            android:name=".activities.settings.alerts.SecondaryAlerts"
            android:label="@string/secondaryAlerts"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"/>

        <!-- Location Alerts Settings -->
        <activity
            android:name=".activities.settings.alerts.LocationAlerts"
            android:label="@string/locationAlerts"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"/>

        <!-- Phone Boot Receiver -->
        <receiver android:name=".receivers.BootReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- Notification Deleted Event Receiver -->
        <receiver android:name=".receivers.NotificationDeletedReceiver" android:exported="false">
            <intent-filter>
                <action android:name="NOTIFICATION_DELETED"/>
            </intent-filter>
        </receiver>

        <!-- Foreground Services -->
        <!--<service android:name=".services.location.LocationService" android:foregroundServiceType="location" android:stopWithTask="false" />-->
    </application>
</manifest>
