<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.red.alert"
          android:installLocation="internalOnly">

    <!-- Permission Declarations -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Google Play Services Feature Declarations -->
    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- RedAlert -->
    <application
        android:supportsRtl="true"
        android:label="@string/appName"
        android:icon="@drawable/ic_launcher">

        <!-- Google Maps v2 Public API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCoL_3SJ4Vlp7lP777Kp9pc1LIchdGM3og"/>

        <!-- Main Activity -->
        <activity
            android:name=".activities.Main"
            android:label="@string/appName"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Alert View -->
        <activity
            android:name=".activities.AlertView"
            android:label=""
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"/>

        <!-- Alert Popup -->
        <activity
            android:name=".activities.AlertPopup"
            android:label="@string/appName"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity=".popup"
            android:theme="@style/PopupDialog"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"/>

        <!-- Settings -->
        <activity
            android:name=".activities.settings.General"
            android:label="@string/settings"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"/>

        <!-- Advanced Settings -->
        <activity
            android:name=".activities.settings.Advanced"
            android:label="@string/advancedSettings"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"/>

        <!-- Secondary Alerts Settings -->
        <activity
            android:name=".activities.settings.alerts.SecondaryAlerts"
            android:label="@string/secondaryAlerts"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"/>

        <!-- Location Alerts Settings -->
        <activity
            android:name=".activities.settings.alerts.LocationAlerts"
            android:label="@string/locationAlerts"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"/>

        <!-- Phone Boot Receiver -->
        <receiver android:name=".receivers.BootReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- Notification Deleted Event Receiver -->
        <receiver android:name=".receivers.NotificationDeletedReceiver" android:exported="false">
            <intent-filter>
                <action android:name="NOTIFICATION_DELETED"/>
            </intent-filter>
        </receiver>

        <!-- Location Updates Foreground Service -->
        <service android:name=".services.location.LocationService" android:stopWithTask="false" />

        <!-- FCM Push Receiver -->
        <service
            android:name=".services.fcm.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Pushy Declarations -->

        <!-- Pushy Notification Receiver -->
        <!-- Incoming push notifications will invoke the following BroadcastReceiver -->
        <receiver android:name=".receivers.pushy.PushyPushReceiver" android:exported="false">
            <intent-filter>
                <!-- Do not modify this -->
                <action android:name="pushy.me" />
            </intent-filter>
        </receiver>

        <!-- Pushy Update Receiver -->
        <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
        <receiver android:name="me.pushy.sdk.receivers.PushyUpdateReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <!-- Pushy Boot Receiver -->
        <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
        <receiver android:name="me.pushy.sdk.receivers.PushyBootReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- Pushy Socket Service -->
        <!-- Do not modify - internal service -->
        <service android:name="me.pushy.sdk.services.PushySocketService" android:stopWithTask="false" />

        <!-- Pushy Job Service (added in Pushy SDK 1.0.35) -->
        <!-- Do not modify - internal service -->
        <service android:name="me.pushy.sdk.services.PushyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="false" />

        <!-- End Pushy Declarations -->
    </application>
</manifest>
